.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sunDiv {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  height: 400px;
  width: 1000px;
  text-align: center;
}

.rotate {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.imageHeight {
  height: 150px;
}

@media screen and (min-width: 576px) {
  .imageHeight {
    height: 200px;
  }
}

@media screen and (min-width: 992px) {
  .imageHeight {
    height: 250px;
  }
}
